.hero {
  width: 100%;
  height: 100dvh;
  position: relative;
  background: black;
  z-index: 0;
}

.decoration-lhs {
  left: calc(-50vw + 50%);
}

.decoration {
  width: 30dvw;
  position: absolute;
  top: 0;
  /* background: yellow; */
  z-index: -1;
}

.decoration-lhs {
  left: calc(-50vw + 50%);
}

.decoration-rhs {
  right: calc(-50vw + 50%);
  text-align: right;
}

.gear {
  font-size: 120px;
}

.innovate-her {
  z-index: 99;
}

.vl {
  width: 4px;
  height: 300px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
}
