.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10%;

  --line-gap: 28px;
}

.decoration-lhs {
  left: calc(-50vw + 50%);
}

.decoration {
  width: 212px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.decoration-lhs {
  left: calc(-50vw + 50%);
}

.decoration-rhs {
  right: calc(-50vw + 50%);
  text-align: right;
}

.gear {
  font-size: 180px;
  color: #aba0ce;
  opacity: 0.5;
  filter: drop-shadow(0 0 8px white);
}

/* .gear-lhs {
  font-size: 700px;
  opacity: 0.3;
}

.gear-rhs {
  font-size: 180px;
  opacity: 0.5;
} */

.innovate-her {
  z-index: 99;
}

.vl {
  width: 8px;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  top: 0;
}

.vl-edge1 {
  height: 538px;
}

.vl-edge-mid {
  height: 466px;
}

.vl-center {
  height: 262px;
}

.decoration-lhs .vl-edge {
  height: 385px;
  left: var(--line-gap);
}

.decoration-rhs .vl-edge {
  height: 385px;
  right: var(--line-gap);
}

.decoration-lhs .vl-edge1 {
  left: calc(2 * var(--line-gap));
}

.decoration-rhs .vl-edge1 {
  right: calc(2 * var(--line-gap));
}

.decoration-lhs .vl-edge-mid {
  left: calc(3 * var(--line-gap));
}

.decoration-rhs .vl-edge-mid {
  right: calc(3 * var(--line-gap));
}

.decoration-lhs .vl-center {
  left: calc(4 * var(--line-gap));
}

.decoration-rhs .vl-center {
  right: calc(4 * var(--line-gap));
}

.innovate-her {
  text-shadow:
    0px 0px 8px,
    4px 4px 8px rgba(0, 0, 0, 0.4);
  font-size: 4.3rem;
  color: #d0cdea;
  line-height: 1;
  margin-bottom: 0;
}

.innovate-her span {
  color: #e6b8cf;
}

.description {
  font-weight: normal;
  color: #d0cdea;
}

.time-loc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rsvp-container {
  display: inline-block;
  position: relative;
}

.rsvp-btn {
  all: unset;
  position: relative;
  width: 300px;
  aspect-ratio: 396 / 119;
}

.rsvp-btn > svg,
.rsvp-rect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rsvp-rect {
  aspect-ratio: 396 / 119;
  width: 70%;
  border: 2px solid #d0cdea;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rsvp-btn h3 {
  margin: 0;
  margin-bottom: -7px;
  line-height: 1;
}

.rsvp-rect {
  cursor: pointer;
}

.rsvp-btn > svg {
  width: 100%;
  cursor: pointer;
  filter: drop-shadow(0 4px 4px white);
}

@media screen and (max-width: 768px) {
  .innovate-her {
    font-size: 300%;
  }

  .rsvp-container {
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: center;
  }

  .rsvp-btn {
    width: 100%;
  }

  .description {
    font-size: 1rem;
  }

  .vl {
    display: none;
  }

  .gear-rhs {
    font-size: 60px;
  }

  .decoration-rhs {
    top: 20px;
  }

  .gear-lhs {
    font-size: 400px;
  }

  .decoration-lhs {
    top: 50px;
    left: -200px;
  }
}
