html {
  scroll-behavior: smooth;
}

body,
html {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

h1 {
  font-size: 4rem; /* 64px */
}

h2 {
  font-size: 2rem; /* 32px */
}

h3 {
  font-size: 1.6rem; /* 24px */
}

p.p1 {
  font-size: 1.25rem; /* 20px */
}

p.p2 {
  font-size: 1.125rem; /* 18px */
}

#App {
  text-align: center;
  background-color: rgb(109, 88, 174);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  font-family: sans-serif;
  color: white;
}

.App-Component {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
}

.Hero-Background {
  background-image: linear-gradient(#6363AB, #ABA0CE);
  /* bg: #9f9fd6 */
  min-height: 200px;
  margin-top: 70px;
}

.About-Us-Background {
  background-image: linear-gradient(#ABA0CE, #5a4d85);
  min-height: 300px;
}

.Agenda-Background {
  background-image: linear-gradient(#5a4d85, #6363ab);
  min-height: 200px;
}
.KeyNote-Background {
  background-image: linear-gradient(#6363ab, #55559d);
  min-height: 200px;
}

.Workshop-Background {
  background-image: linear-gradient(#55559d, #55599e, #584d7a);
  min-height: 200px;
  padding: 5%;
}
.Panelist-Background {
  background-image: linear-gradient(#584d7a, #4d4d8c, #6363ab);
  min-height: 200px;
  padding-top: 5%;
}

.Prev-Conf-Background {
  background-image: linear-gradient(#584d7a, #4d4d8c, #6363ab);
  min-height: 200px;
  padding-top: 5%;
}

.Sponsor-FAQ-Team-Background {
  background-image: linear-gradient(#6363ab, #5a4067);
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Responsive Adjustments */
@media screen and (max-width: 1023px) {
  .Nav-Component {
    padding-left: 5%;
    padding-right: 5%;
  }

  .App-Component {
    width: 95%; /* For smaller screens, make the App component take more width */
    padding: 0 5%; /* Reduced padding for smaller screens */
  }

  .Hero-Background {
    height: 100vh;
  }

  .Hero-Background,
  .About-Us-Background,
  .Agenda-Background,
  .Prev-Conf-Background,
  .Sponsor-FAQ-Team-Background {
    width: 100%; /* Ensure sections take up full width on smaller screens */
    max-width: 100%; /* No maximum width constraint for smaller screens */
  }
}
